@using EPiServer.ServiceLocation
@using SiteImprove.Optimizely.Plugin

@model SiteImprove.Optimizely.Plugin.Models.SettingsViewModel

@{
    Layout = "_Layout";
}

<div class="content-area-container">
    <div class="epi-uif-layout-container">
        <div class="epi-uif-workspace-container">
            <div class="epi-uif-workspace">
                <div class="epi-uif-grid mdc-layout-grid mdc-layout-grid--align-left">
                    <div class="mdc-layout-grid__inner">
                        <div class="epi-uif-grid-cell mdc-layout-grid__cell">
                            <div class="detail-view">
                                <div class="epi-main-header">
                                    <h2 class="epi-uif-typography mdc-typography--headline4">SiteImprove</h2>
                                    <a class="epi-uif-anchor mdc-typography--body1" target="_blank" href="https://siteimprove.com/en/core-platform/integrations/cms-plugin/optimizely/" title="Help"><svg aria-hidden="true" class="epi-uif-icon" height="24" role="presentation" viewBox="0 0 24 24" width="24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"></path></svg></a>
                                </div>
                                <p>
                                    <span class="epi-uif-typography mdc-typography--subtitle2">Pre-publish configuration.</span>
                                </p>
                                <div class="edit-view">
                                    <div class="edit-view__content" style="padding-left: 0;padding-right: 0;padding-bottom: 0;">
                                        <div class="epi-uif-card edit-view__information mdc-card mdc-card--outlined" tabindex="0" style="min-height:auto;width: auto;">
                                            <div class="epi-uif-card-content-area">
                                                <div class="edit-view__information__card">
                                                    <div>
                                                        <div class="edit-view__information__card__detail"><span>Token</span>@Model.Token</div>
                                                    </div>
                                                    @using (Html.BeginForm("Index", "SiteimproveAdmin"))
                                                    {
                                                        @Html.Hidden("newToken", true)
                                                        <button type="submit" class="mdc-ripple-upgraded epi-uif-text-button mdc-button mdc-button--unelevated"><div class="mdc-button__ripple"></div><span class="mdc-button__label">Request new token</span></button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="edit-view__content" style="padding-left: 0;padding-right: 0;">
                                        <div class="epi-uif-card edit-view__information mdc-card mdc-card--outlined" tabindex="0" style="min-height:auto;width: auto;">
                                            <div class="epi-uif-card-content-area">
                                                <div class="edit-view__information__card">
                                                    <div>
                                                        <div class="edit-view__information__card__detail"><span>Pre-publish check</span>@(Model.PrepublishCheckEnabled ? "Enabled" : "Disabled")</div>
                                                    </div>
                                                    
                                                    @if (!Model.PrepublishCheckEnabled)
                                                    {
                                                        using (Html.BeginForm("EnablePrepublishCheck", "SiteimproveAdmin", FormMethod.Post))
                                                        {
                                                            @Html.Hidden("enablePrepublishCheck", true)
                                                            <button type="submit" class="mdc-ripple-upgraded epi-uif-text-button mdc-button mdc-button--unelevated"><div class="mdc-button__ripple"></div><span class="mdc-button__label">Enable pre-publish check</span></button>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.PrepublishError)
                                    {
                                        <div class="edit-view__content" style="padding-left: 0; padding-right: 0;">
                                            <div class="epi-uif-card edit-view__information mdc-card mdc-card--outlined" tabindex="0" style="min-height: auto; width: auto; background-color: #fff9e6;">
                                                <div class="epi-uif-card-content-area">
                                                    <div>
                                                        <h2 class="epi-uif-typography mdc-typography--headline4">Sorry, it looks like there is a problem</h2>
                                                        <span class="epi-uif-typography mdc-typography--subtitle2">It was caused by one of two issues:</span>
                                                        <ul>
                                                            <li style="list-style: inside"><span class="epi-uif-typography mdc-typography--body1">You do not have Prepublish as part of your subscription</span></li>
                                                            <li style="list-style: inside"><span class="epi-uif-typography mdc-typography--body1">You do have Prepublish but you need to validate your API key and username in Settings</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="edit-view mdc-card--outlined edit-view__content">
                                    <div>
                                        <strong>Settings</strong>
                                    </div>
                                    @using (Html.BeginForm("Save", "SiteimproveAdmin", FormMethod.Post))
                                    {
                                        <div class="epi-uif-grid-row mdc-layout-grid__inner">
                                            <div class="epi-uif-grid-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                                <div class="control">
                                                    <label class="mdc-ripple-upgraded epi-uif-text-field textfield-wide mdc-text-field mdc-text-field--upgraded mdc-text-field--outlined" aria-labelledby="textfield-API Username-label">
                                                        <span class="mdc-text-field__ripple"></span>
                                                        @Html.TextBoxFor(model => model.ApiUser, new { @class = "mdc-text-field__input" })
                                                        <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched" notch="46.5">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch" style="width: 73.5px;">
                                                                <span id="textfield-Sort index-label" class="mdc-floating-label mdc-floating-label--float-above" style="">API Username</span>
                                                            </div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="epi-uif-grid-row mdc-layout-grid__inner">
                                            <div class="epi-uif-grid-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                                <div class="control">
                                                    <label class="mdc-ripple-upgraded epi-uif-text-field textfield-wide mdc-text-field mdc-text-field--upgraded mdc-text-field--outlined" aria-labelledby="textfield-API Key-label">
                                                        <span class="mdc-text-field__ripple"></span>
                                                        @Html.TextBoxFor(model => model.ApiKey, new { @class = "mdc-text-field__input" })
                                                        <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched" notch="46.5">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                            <div class="mdc-notched-outline__notch" style="width: 43.5px;">
                                                                <span id="textfield-Sort index-label" class="mdc-floating-label mdc-floating-label--float-above" style="">API Key</span>
                                                            </div>
                                                            <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="epi-uif-grid-row mdc-layout-grid__inner">
                                            <div class="epi-uif-grid-cell mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                                                <div class="control">
                                                    <div class="epi-uif-checkbox mdc-form-field">
                                                        <div class="mdc-ripple-upgraded--unbounded mdc-ripple-upgraded mdc-checkbox--upgraded mdc-checkbox mdc-checkbox--selected" style="--mdc-ripple-fg-size:22px; --mdc-ripple-fg-scale:1.81754; --mdc-ripple-left:9px; --mdc-ripple-top:9px;">
                                                            @Html.CheckBoxFor(model => model.Recheck, new { @class = "mdc-checkbox__native-control" })
                                                            <div class="mdc-checkbox__background">
                                                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24"><path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path></svg>
                                                                <div class="mdc-checkbox__mixedmark"></div>
                                                            </div>
                                                            <div class="mdc-checkbox__ripple"></div>
                                                        </div>
                                                        @Html.LabelFor(model => model.Recheck, "Recheck pages when an Editor publishes")
                                                    </div>
                                                </div>
                                                <div style=" padding-left: 9px;">
                                                    <div class="epi-uif-checkbox mdc-form-field">
                                                        <span class="epi-uif-typography mdc-typography--body1" style=" color: rgba(8, 7, 54, 0.6); ">When selected a recheck will be performed whenever an editor publish a page. If a page is scheduled for publish later no recheck will be performed when it is published. The same goes for any other automatic publishing.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="epi-uif-grid-row mdc-layout-grid__inner">
                                            <div class="epi-uif-grid-cell mdc-layout-grid__cell">
                                                <div class="form-bottom">
                                                    <button type="submit" class="mdc-ripple-upgraded epi-uif-text-button mdc-button mdc-button--unelevated"><div class="mdc-button__ripple"></div><span class="mdc-button__label">Save</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
